<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Đăng nhập</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
	<div class="login-container">
         <h3>Đăng nhập Admin</h3>
         <br>
         <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
             <div th:if= "${#request.getParameter('error') == 'true'}"
                style="color: red; margin: 10px 0px;">
                Đăng nhập thất bại!!!<br /> Lý do :
                <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
             </div>
         </th:block>
          
         <form method="POST"
            th:action="@{/j_spring_security_check}">
            <table>
               <tr>
                  <td>Tên đăng nhập *</td>
                  <td><input name="userName" /></td>
               </tr>
               <tr>
                  <td>Mật khẩu *</td>
                  <td><input type="password" name="password" /></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td>
                      <input type="submit" value="Login" />
                      <!--  <input type="reset"  value="Reset" />-->
                  </td>
               </tr>
            </table>
         </form>
         <span class="error-message" th:utext="${error}"></span>
      </div>

	<!--  <div style="text-align: left">
		<h3>User/Password:</h3>
		<ul>
			<li>employee1/123</li>
			<li>manager1/123</li>
		</ul>
	</div>-->

	<th:block th:include="/_footer"></th:block>
       
   </body>
</html>