<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shop Page- Ustora Demo</title>
      <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>

	<div class="product-big-title-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="product-bit-title text-center">
						<h2>Product List</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row" th:each="prodInfo : ${paginationProducts.list}">
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img th:src="@{|/productImage?code=${prodInfo.code}|}" alt="">
                        </div>
                        <h2><a href=""><span th:utext="${prodInfo.name}"></span></a></h2>
                        <div class="product-carousel-price">
                            <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" th:href="@{|/buyProduct?code=${prodInfo.code}|}">Mua</a>
                            <!-- For Manager edit Product -->
							<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
								<a style="color: red;"
									th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit
										Product</a>
							</th:block>
						</div>                       
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img th:src="@{|/productImage?code=${prodInfo.code}|}" alt="">
                        </div>
                        <h2><a href=""><span th:utext="${prodInfo.name}"></span></a></h2>
                        <div class="product-carousel-price">
                            <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" th:href="@{|/buyProduct?code=${prodInfo.code}|}">Mua</a>
                            <!-- For Manager edit Product -->
							<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
								<a style="color: red;"
									th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit
										Product</a>
							</th:block>
						</div>                       
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img th:src="@{|/productImage?code=${prodInfo.code}|}" alt="">
                        </div>
                        <h2><a href=""><span th:utext="${prodInfo.name}"></span></a></h2>
                        <div class="product-carousel-price">
                            <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" th:href="@{|/buyProduct?code=${prodInfo.code}|}">Mua</a>
                            <!-- For Manager edit Product -->
							<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
								<a style="color: red;"
									th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit
										Product</a>
							</th:block>
						</div>                       
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img th:src="@{|/productImage?code=${prodInfo.code}|}" alt="">
                        </div>
                        <h2><a href=""><span th:utext="${prodInfo.name}"></span></a></h2>
                        <div class="product-carousel-price">
                            <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" th:href="@{|/buyProduct?code=${prodInfo.code}|}">Mua</a>
                            <!-- For Manager edit Product -->
							<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
								<a style="color: red;"
									th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit
										Product</a>
							</th:block>
						</div>                       
                    </div>
                </div>
                
                
                 
            </div>
            
            <div class="row" th:if="${paginationProducts.totalPages > 1}">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
							<th:block th:each="page : ${paginationProducts.navigationPages}">

								<a th:href="@{|/productList?page=${page}|}"
									th:if="${page != -1}" class="nav-item" th:utext="${page}"></a>

								<span class="nav-item" th:if="${page == -1}"> ... </span>

							</th:block>
						</nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	




     <!--/*<div class="product-preview-container" th:each="prodInfo : ${paginationProducts.list}">
         <ul>
            <li><img class="product-image"
               th:src="@{|/productImage?code=${prodInfo.code}|}" /></li>
            <li>Code: <span th:utext="${prodInfo.code}"></span></li>
            <li>Name: <span th:utext="${prodInfo.name}"></span></li>
            <li>Price: <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></li>
            <li>
               <a th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy Now</a>
            </li>
            <!-- For Manager edit Product -->
         <!--/*  <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
               <li>
                 <a style="color:red;"
                    th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit Product</a>
               </li>
            </th:block>*/-->
      <!--/*    </ul>
      </div>
       
		<br/>
      <div class="page-navigator" th:if="${paginationProducts.totalPages > 1}">
         <th:block th:each="page : ${paginationProducts.navigationPages}">
         
            <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
               
            <span class="nav-item" th:if="${page == -1}"> ... </span>
             
         </th:block>
      </div> */-->
      <th:block th:include="/_footer"></th:block>
   </body>
</html>