<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Xác nhận đơn hàng</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Xác nhận đơn hàng</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    
	<div class="single-product-area">
		<div class="zigzag-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div class="product-content-right">
						<div class="woocommerce">
							<div class="cart-collaterals" th:each="cartLineInfo : ${myCart.cartLines}">
								<div class="cart_totals ">
									<h2>Thông tin khách hàng</h2>
									<ul>
										<li>Tên: <span th:utext="${myCart.customerInfo.name}"></span></li>
										<li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
										<li>Điện thoại: <span th:utext="${myCart.customerInfo.phone}"></span></li>
										<li>Địa chỉ: <span
											th:utext="${myCart.customerInfo.address}"></span></li>
									</ul>
									<h2>Hóa đơn</h2>
									<ul>
										<li>Số lượng: <span th:utext="${myCart.quantityTotal}"></span>
										</li>
										<li>Tổng tiền: <span class="total"
											th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">
										</span>
										</li>
									</ul>
								</div>
								<form method="POST" th:action="@{/shoppingCartConfirmation}" class="shipping_calculator">
									<a th:href="@{/shoppingCart}" class="btn btn-info" role="button">Sửa giỏ hàng
									</a> 
									<a class="btn btn-info" role="button" th:href="@{/shoppingCartCustomer}">Sửa thông tin đặt hàng
										</a>
									<input type="submit" value="Đặt hàng" class="button-send-sc" />
								</form>
								<h2>Thông tin đơn hàng</h2>
								<ul>
									<li><img class="product-image"
										th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
									</li>
									<li>Mã code: <span
										th:utext="${cartLineInfo.productInfo.code}"></span> <input
										type="hidden" name="code"
										th:value="${cartLineInfo.productInfo.code}" />
									</li>
									<li>Tên: <span
										th:utext="${cartLineInfo.productInfo.name}"></span></li>
									<li>Giá: <span class="price"
										th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
									</span>
									</li>
									<li>Số lượng: <span th:utext="${cartLineInfo.quantity}"></span></li>
									<li>Tổng tiền: <span class="subtotal"
										th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
									</span>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



























	<!-- <div class="page-title">Confirmation</div>
      <div class="customer-info-container">
         <h3>Customer Information:</h3>
         <ul>
            <li>Name: <span th:utext="${myCart.customerInfo.name}"></span></li>
            <li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
            <li>Phone: <span th:utext="${myCart.customerInfo.phone}"></span></li>
            <li>Address: <span th:utext="${myCart.customerInfo.address}"></span></li>
         </ul>
         <h3>Cart Summary:</h3>
         <ul>
            <li>Quantity: <span th:utext="${myCart.quantityTotal}"></span>$</li>
            <li>Total:
               <span class="total"
                  th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">  
               </span>
            </li>
         </ul>
      </div>
      <form method="POST" th:action="@{/shoppingCartConfirmation}">

         <a class="navi-item" th:href="@{/shoppingCart}">
         Edit Cart
         </a>

         <a class="navi-item" th:href="@{/shoppingCartCustomer}">
         Edit Customer Info
         </a>

         <input type="submit" value="Send" class="button-send-sc" />
      </form>
      <div class="container">
         <div class="product-preview-container" th:each="cartLineInfo : ${myCart.cartLines}">
            <ul>
               <li>
                  <img class="product-image"
                     src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
               </li>
               <li>
                  Code: <span th:utext="${cartLineInfo.productInfo.code}"></span>
                  <input
                     type="hidden" name="code" th:value="${cartLineInfo.productInfo.code}" />
               </li>
               <li>Name: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
               <li>Price:
                  <span class="price"
                     th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                  </span>
               </li>
               <li>Quantity: <span th:utext="${cartLineInfo.quantity}"></span></li>
               <li>Subtotal:
                  <span class="subtotal"
                     th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                  </span>
               </li>
            </ul>
         </div>
      </div>-->
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>