<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Giỏ hàng</title>
	
	<!-- Google Fonts -->
	<link
		href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600'
		rel='stylesheet' type='text/css'>
	<link
		href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300'
		rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100'
		rel='stylesheet' type='text/css'>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	

</head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>

  <div class="product-big-title-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="product-bit-title text-center">
						<h2>Giỏ hàng</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	 <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="product-content-right">
                        <div class="woocommerce">
							<th:block
								th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
								<h2>Không có sản phẩm trong giỏ</h2>
								<a th:href="@{/productList}">Quay trở lại trang sản phẩm</a>
							</th:block>
							
							
							<th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
							<form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                           	<th class="product-code">Code</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                        </tr>
									</thead>
                                    <tbody th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                                        <tr class="cart_item">
                                            <td class="product-remove">
                                                <a title="Remove this item" class="remove" th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">×</a> 
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="single-product.html"><img th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}"></a>
                                            </td>
                                            <td class="product-code">
                                                <span th:utext="${cartLineInfo.productInfo.code}"></span>
													<input type="hidden"
													th:name="|cartLines[${varStatus.index}].productInfo.code|"
													th:value="${cartLineInfo.productInfo.code}" />
											</td>
											<td class="product-name">
                                                <a href="single-product.html"><span th:utext="${cartLineInfo.productInfo.name}"></span></a> 
                                            </td>

                                            <td class="product-price">
                                                <span class="amount" th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}"></span> 
                                            </td>

                                            <td class="product-quantity">
												<input size="4" class="input-text qty text" title="Qty" th:name="|cartLines[${varStatus.index}].quantity|" th:value="${cartLineInfo.quantity}" />
                                            </td>

                                            <td class="product-subtotal">
												<span class="subtotal"
													th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
												</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <a th:href="@{/productList}" class="btn btn-info" role="button">Trở về danh sách sản phẩm</a>
                                                <button type="submit" class="btn btn-info">Cập nhật giỏ hàng</button>
                                                <a th:href="@{/shoppingCartCustomer}" class="btn btn-info" role="button">Tiến hành đặt hàng</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
							</th:block>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div> 
 <th:block th:include="/_footer"></th:block>
       
</body>
</html>